nodered.json
[
    {
        "id": "e53b1d02762b092d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "067a7c507dfcf31c",
        "type": "mqtt-broker",
        "name": "my fochtman iot partikelmesser",
        "broker": "172.20.10.9",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eaac889f5e322718",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "21ebb853dba7f001",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e493ab9eaa1479f7",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "eaac889f5e322718",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "21ebb853dba7f001",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "64d550f7eac26f37",
        "type": "ui-group",
        "name": "Battery",
        "page": "e493ab9eaa1479f7",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "53924c45717ca49a",
        "type": "ui-group",
        "name": "dust",
        "page": "e493ab9eaa1479f7",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d76933d367057afb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "1000",
        "rejectUnauthorized": true
    },
    {
        "id": "f790f0b75932c580",
        "type": "aedes broker",
        "z": "e53b1d02762b092d",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "persist_to_file": false,
        "usetls": false,
        "x": 190,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "75e09587ee6f0a20",
        "type": "mqtt in",
        "z": "e53b1d02762b092d",
        "name": "",
        "topic": "/sensors/laser",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "067a7c507dfcf31c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "0b456f0cb46a8748",
                "37116334c06e36e3",
                "84ffb4c991970ed9",
                "27c2f838e126175c"
            ]
        ]
    },
    {
        "id": "0b456f0cb46a8748",
        "type": "debug",
        "z": "e53b1d02762b092d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "37116334c06e36e3",
        "type": "function",
        "z": "e53b1d02762b092d",
        "name": "battery",
        "func": "if (msg.payload && msg.payload.Battery !== undefined) {\n    msg.payload = msg.payload.Battery;\n    \n} else {\n    msg.payload = -1;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "fa739f5a72955e53",
                "47eba4d6497c78eb"
            ]
        ]
    },
    {
        "id": "fa739f5a72955e53",
        "type": "ui-text",
        "z": "e53b1d02762b092d",
        "group": "64d550f7eac26f37",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "battery",
        "label": "Percentage: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "47eba4d6497c78eb",
        "type": "ui-gauge",
        "z": "e53b1d02762b092d",
        "name": "battery chart",
        "group": "64d550f7eac26f37",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "40",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "84ffb4c991970ed9",
        "type": "function",
        "z": "e53b1d02762b092d",
        "name": "data",
        "func": "if (msg.payload == undefined) {\n    return msg;  \n} \n\nvar pm1  = msg.payload.PM1;\nvar pm25 = msg.payload.PM25;\nvar pm10 = msg.payload.PM10;\n\nvar msg1 = { payload: pm1, topic: \"PM1.0\" };\nvar msg2 = { payload: pm25, topic: \"PM2.5\" };\nvar msg3 = { payload: pm10, topic: \"PM10\" };\n\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 560,
        "wires": [
            [
                "649849556d44c30b"
            ],
            [
                "649849556d44c30b"
            ],
            [
                "649849556d44c30b"
            ]
        ]
    },
    {
        "id": "649849556d44c30b",
        "type": "ui-chart",
        "z": "e53b1d02762b092d",
        "group": "53924c45717ca49a",
        "name": "Dust in tha air",
        "label": "dust chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "40",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#f5c211",
            "#e66100",
            "#c01c28",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 600,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "27c2f838e126175c",
        "type": "function",
        "z": "e53b1d02762b092d",
        "name": "function 1",
        "func": "// Prüfen, ob Daten angekommen sind\nif (msg.payload === undefined) {\n    return msg;\n}\n\n// Aufbereiten der Daten für InfluxDB\nmsg.payload = [\n    {\n        // Fields: Deine gemessenen Werte\n        pm1: parseFloat(msg.payload.PM1),\n        pm25: parseFloat(msg.payload.PM25),\n        pm10: parseFloat(msg.payload.PM10),\n        battery: parseFloat(msg.payload.Battery)  // Battery optional\n    },\n    {\n        // Tags: Beschreibende Metadaten\n        standort: \"zimmer\",\n        sensor: \"hm300x\"\n    }\n];\n\n// WICHTIG: Hier wird der Measurement-Name gesetzt\nmsg.measurement = \"luftqualitaet\";\n\n// Gib die Nachricht aus\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "27c9dc73018235bd"
            ]
        ]
    },
    {
        "id": "28bb41deb03c91af",
        "type": "influxdb in",
        "z": "e53b1d02762b092d",
        "influxdb": "d76933d367057afb",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 600,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "27c9dc73018235bd",
        "type": "influxdb out",
        "z": "e53b1d02762b092d",
        "influxdb": "d76933d367057afb",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dinge",
        "bucket": "luftqualitaet",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "30109f4cdbcfda7c",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-contrib-aedes": "1.2.0"
        }
    }
]